<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{BLOG_NAME}}</title>
  <subtitle>{{SITE_SUBTITLE}}</subtitle>
  <link href="{{SITE_URL}}/atom.xml" rel="self" type="application/atom+xml"/>
  <link href="{{SITE_URL}}/" rel="alternate" type="text/html"/>
  <id>{{SITE_URL}}/</id>
  <updated>{{BUILD_DATE}}</updated>
  {{ATOM_ENTRIES}}
</feed>
