<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{BLOG_NAME}} - A minimalist blog built with groff on OpenBSD.">
    <meta name="keywords" content="blog, groff, OpenBSD, minimalist">
    <title>{{BLOG_NAME}}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/vars.css?{{TIMESTAMP}}">
    <link rel="stylesheet" href="/css/font-awesome.min.css?{{TIMESTAMP}}">
    <link rel="stylesheet" href="/css/base.css?{{TIMESTAMP}}">
    <link rel="stylesheet" href="/css/prism.css?{{TIMESTAMP}}">
</head>
<body class="{{PAGE_TYPE}}">
    <div class="sidebar">
        <img src="/images/profile.jpg" alt="Profile Picture" class="profile-pic">
        <h3>Links</h3>
        <div class="sidebar-links">
            {{SIDEBAR_HTML}}
        </div>
    </div>
    <div class="main">
        <h1>{{BLOG_NAME}}</h1>
        <h2 class="site-subtitle">{{SITE_SUBTITLE}}</h2>
        <div class="site-description">{{SITE_DESCRIPTION_GROFF}}</div>
        <ul class="post-list">
            {{POST_LIST}}
        </ul>
    </div>
    <script src="/css/prism.js"></script> <!-- Add Prism JS -->
</body>
</html>
